<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body>
    {{template "NavBar"}}
    <main class="container mx-auto my-4 max-w-screen-lg">
            <article class="prose lg:prose-lg prose-slate max-w-none px-4">
                <!-- Markdown content will be inserted here -->
                {{ .blog }}
            </article>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>