<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body>
    <!-- navBar -->
    <div class="flex flex-col min-h-screen">
        {{template "NavBar"}}
        <!-- Range over posts  in go template-->
        <main class="grow">
            <div class="container mx-auto text-center prose lg:prose-lg xl:prose-xl">
                {{range.posts}}
                <h2>
                    <a href="/blog/{{.}}">{{.}}</a>
                </h2>
                {{end}}
                
            </div>
            <div>
                {{template "BlogTemplate" .}}
            </div>
        </main>
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>